*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav {
  display: flex ;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  background-color: rgb(182, 230, 8);
  color: rgb(8, 8, 8);
}

nav .logo{
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
nav .nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
  cursor: pointer;
}
nav .nav-links .ab{
  font-size: 18px;
  font-weight: normal;
  border-bottom : 1px solid rgb(20, 15, 15);

}
nav .nav-links .ab:hover{
  border-bottom : 1px solid white;
}
nav .burger {
  font-size: 30px ;
  display: none;
}

@media all and (max-width: 700px)
{
  nav .burger {
    cursor: pointer;
    display: block;
} 
nav .nav-links{
  display: block;
  position: absolute;
  justify-content: space-around;
  height: 80vh;
  background-color: rgb(216, 247, 105);
  top: 198px;
  left: 0;
  cursor: pointer;
  transform: translateX(-500px);
  transition: 0.6s ease-out;
 
} 
nav .nav-links li{
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid cornsilk;
}
}